/* Theme for nanoGallery - www.nanogallery.brisbois.fr */

/**************************************/
/* MAIN CONTAINER                     */
/**************************************/

.nanogallery_theme_default {
	font-size:1.0em;
	line-height: normal;
	padding:0px;
	margin:0 auto;
}

/**************************************/
/* NAVIGATION BREADCRUMB              */
/**************************************/

.nanogallery_theme_default .nanoGalleryBreadcrumb {
	background-color: #000;
	border: 1px dotted #555;
	margin: 1px;
	padding: 4px;
	text-align: left;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .folder {
	margin: 0px 5px;
	color:#ccc;
	cursor:pointer;
	vertical-align: middle;
	display: inline-block;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .folder:hover{
	color: #fff;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb  .folder:before{
	content: url(folder_icon.png);
	float: left;
	margin-right: 5px;
	height:20px;
	display:inline;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator {
	display: inline;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator:after {
	content:'>';
	margin: 0 2px;
	color:#bbb;
	vertical-align: middle;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
}

/**************************************/
/* THUMBNAILS                         */
/**************************************/

.nanogallery_theme_default .nanoGalleryContainerParent {
	text-align: center;
	overflow:hidden;
}

.nanogallery_theme_default .nanoGalleryContainer {
	/*text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;*/
	text-align: left;
	width:auto;
	display: inline-block;
}

.nanogallery_theme_default .nanoGalleryContainer .iconInfo{
}
.nanogallery_theme_default .nanoGalleryContainer .iconInfo:after{
	visibility: hidden;
	content:".";
	left:8px;
	top:8px;
	position:absolute;
	background: rgba(0,0,0,0.75); 
	color: #fff; 
	border: 2px solid #aaa;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.nanogallery_theme_default .nanoGalleryContainer .container:hover .iconInfo:after{
	opacity: 0;
}

.nanogallery_theme_default .nanoGalleryContainer .container{
	cursor:  pointer;
	border: 1px solid #000;
	margin: 1px;
	padding: 5px;
	background-color: #000;
	transition: border-color 0.2s ease-out;
	-webkit-transition : border-color 0.2s ease-out; 
	-moz-transition : border-color 0.2s ease-out;
	-o-transition : border-color 0.2s ease-out;
	display: inline-block; 
	position: relative; 
	overflow: hidden;	
}
.nanogallery_theme_default .nanoGalleryContainer .container:hover{
	border-color: #888;
	transition: border-color 0.2s;
}

.nanogallery_theme_default .nanoGalleryContainer .container:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.nanogallery_theme_default .nanoGalleryContainer .container .imgContainer{
	position:relative;
}

.nanogallery_theme_default .nanoGalleryContainer .container img{
	background:url('loading.gif') no-repeat center;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
	display: block;
    vertical-align: bottom;
	transition: all 0.2s ease-out;
	-webkit-transition : all 0.2s ease-out; 
	-moz-transition : all 0.2s ease-out;
	-o-transition : all 0.2s ease-out;
}

/*.nanogallery_theme_default .nanoGalleryContainer .container:hover img{
	-moz-transform: scale(1.5);  
	-o-transform: scale(1.5);  
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}*/

.nanogallery_theme_default .nanoGalleryContainer .container .labelImage{
	color: #ddd; 
	opacity: 0.8;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	text-align:left;
	padding: 2px 0 0 0;
	position:absolute;
	bottom: 7px;
}
.nanogallery_theme_default .nanoGalleryContainer .container:hover .labelImage{
	opacity: 0.5;
}

.nanogallery_theme_default .nanoGalleryContainer .container  .labelImageTitle{
	color:#eee;
	overflow:hidden;
	white-space: nowrap;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	vertical-align: middle;
	display: inline;
}
.nanogallery_theme_default .nanoGalleryContainer .container  .labelImageTitle:before{
	content: url(camera_icon.png);
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 2px;
	height:20px;
}

.nanogallery_theme_default .nanoGalleryContainer .container  .labelFolderTitle{
	color:#eee;
	overflow:hidden;
	white-space: nowrap;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	vertical-align: middle;
	display: inline;
}
.nanogallery_theme_default .nanoGalleryContainer .container  .labelFolderTitle:before{
	content: url(folder_icon.png);
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 2px;
	height:20px;
}


.nanogallery_theme_default .nanoGalleryContainer .container  .labelDescription{
	clear:both;
	color:#aab;
	margin:0px 0px;
	white-space: nowrap;
	visibility:hidden;
	height:0px;
}



/**************************************/
/* INTERNAL VIEWER                    */
/**************************************/
.nanogallery_theme_default .nanoGalleryViewer {
	display:block;
/*	display:table;
	//position:relative;*/
	font-size:1em;
	background:#225;
}
.nanogallery_theme_default .nanoGalleryViewer .closeButton {
/*	//display:block;
//	display:table-row;
	//position:absolute;*/
	cursor:pointer;
}
.nanogallery_theme_default .nanoGalleryViewer .closeButton:after {
	visibility:visible;
	content:'X';
	left:10px;
	top:10px;
	position:absolute;
	//position:relative;
	background: rgba(0,0,0,0.75); 
	color: #fff; 
	border: 5px solid #aaa;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	cursor:pointer;
}

.nanogallery_theme_default .nanoGalleryViewer .content {
	display:block;
	position:relative;
	height:100%;
	/*//height:auto;*/
	padding:10px;
	border:5px solid #0f0;
}
.nanogallery_theme_default .nanoGalleryViewer .content img{
	/* never define a margin here */
	border:5px solid #000;
	display:block;
	padding:5px;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar {
/*	//display:block;
//	display:table-row;
	//position:relative; */
	width:100%;
	display: table-cell;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .previousButton{
	display: table-cell;
	cursor:pointer;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .previousButton:after{
	content:'<';
	margin: 10px;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .nextButton{
	display: table-cell;
	cursor:pointer;
	padding:50px 20px;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .nextButton:before{
	content:'>';
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .label{
	border:5px solid #f0f;
	width:100%;
	min-width: 100px;
	overflow: hidden;
	display: table-cell;
	text-align: left;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .label .title{
/*	//display:table-row;
	//text-align: center;*/
	margin:auto;
	width:100%
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .label .description{
	display:table-row;
	text-align: center;
}


