/* Theme for nanoGALLERY - www.nanogallery.brisbois.fr */

/**************************************/
/* MAIN CONTAINER                     */
/**************************************/

.nanogallery_theme_default {
	font-size:1.0em;
	line-height: normal;
	padding:0px;
	margin:0 auto;
}


/**************************************/
/* ICON FONT                          */
/**************************************/

@font-face {
font-family: 'nano_icon_font';
  src: url('./font/nano_icon_font.eot?5062612');
  src: url('./font/nano_icon_font.eot?5062612#iefix') format('embedded-opentype'),
       url('./font/nano_icon_font.woff?5062612') format('woff'),
       url('./font/nano_icon_font.ttf?5062612') format('truetype'),
       url('./font/nano_icon_font.svg?5062612#nano_icon_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
/*.icon-play:before { content: '\e815'; }
.icon-th-list:before { content: '\e805'; }
.icon-cog:before { content: '\e80e'; }
.icon-ok:before { content: '\e808'; }
.icon-cancel:before { content: '\e807'; }
.icon-ok-circled2:before { content: '\e80c'; }
.icon-cancel-circled2:before { content: '\e80b'; }
.icon-info-circled:before { content: '\e809'; }
.icon-camera-alt:before { content: '\e802'; }
.icon-resize-full:before { content: '\e811'; }
.icon-resize-small:before { content: '\e812'; }
.icon-left-open:before { content: '\e813'; }
.icon-right-open:before { content: '\e814'; }
.icon-menu:before { content: '\e80d'; }
.icon-folder-empty:before { content: '\e80f'; }
.icon-folder-open-empty:before { content: '\e810'; }
.icon-info:before { content: '\e80a'; }
.icon-picture:before { content: '\e800'; }
.icon-videocam:before { content: '\e804'; }
.icon-video:before { content: '\e801'; }
.icon-camera:before { content: '\e803'; }
.icon-shuffle:before { content: '\e816'; }
.icon-search:before { content: '\e806'; } */


/**************************************/
/* NAVIGATION BREADCRUMB              */
/**************************************/

.nanogallery_theme_default .nanoGalleryBreadcrumb {
	background-color: #000;
	border: 1px dotted #555;
	margin: 1px;
	padding: 4px;
	text-align: left;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .folder {
	margin: 0px 5px;
	color:#ccc;
	cursor:pointer;
	vertical-align: middle;
	display: inline-block;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .folder:hover{
	color: #fff;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb  .folder:before{
	/*content: url(folder_icon.png);
	float: left;
	margin-right: 5px;
	height:20px;
	display:inline;*/
	
	content: '\e80f';
	/*font-size:1.5em;*/
	margin-left: .2em;
	margin-right: .3em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator {
	display: inline;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator:after {
	content:'>';
	margin: 0 2px;
	color:#bbb;
	vertical-align: middle;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
}

/**************************************/
/* THUMBNAILS                         */
/**************************************/

.nanogallery_theme_default .nanoGalleryContainerParent {
	text-align: center;
	overflow:hidden;
}

.nanogallery_theme_default .nanoGalleryContainer {
	text-align: left;
	width:auto;
	display: inline-block;
}

.nanogallery_theme_default .nanoGalleryContainer .iconInfo{
}
.nanogallery_theme_default .nanoGalleryContainer .iconInfo:after{
	visibility: hidden;
	content:".";
	left:8px;
	top:8px;
	position:absolute;
	background: rgba(0,0,0,0.75); 
	color: #fff; 
	border: 2px solid #aaa;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.nanogallery_theme_default .nanoGalleryContainer .container:hover .iconInfo:after{
	opacity: 0;
}

.nanogallery_theme_default .nanoGalleryContainer .container{
	cursor:  pointer;
	border: 1px solid #000;
	margin: 1px;
	padding: 5px;
	background-color: #000;
	transition: border-color 0.2s ease-out;
	-webkit-transition : border-color 0.2s ease-out; 
	-moz-transition : border-color 0.2s ease-out;
	-o-transition : border-color 0.2s ease-out;
	display: inline-block; 
	position: relative; 
	overflow: hidden;	
}
.nanogallery_theme_default .nanoGalleryContainer .container:hover{
	border-color: #888;
	transition: border-color 0.2s;
}

.nanogallery_theme_default .nanoGalleryContainer .container:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.nanogallery_theme_default .nanoGalleryContainer .container .imgContainer{
	position:relative;
}

.nanogallery_theme_default .nanoGalleryContainer .container img{
	background:url('loading.gif') no-repeat center;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
	display: block;
    vertical-align: bottom;
	transition: all 0.2s ease-out;
	-webkit-transition : all 0.2s ease-out; 
	-moz-transition : all 0.2s ease-out;
	-o-transition : all 0.2s ease-out;
}

/*.nanogallery_theme_default .nanoGalleryContainer .container:hover img{
	-moz-transform: scale(1.5);  
	-o-transform: scale(1.5);  
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}*/

.nanogallery_theme_default .nanoGalleryContainer .container .labelImage{
	color: #ddd; 
	opacity: 0.8;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	text-align:left;
	padding: 2px 0 0 0;
	position:absolute;
	bottom: 7px;
}
.nanogallery_theme_default .nanoGalleryContainer .container:hover .labelImage{
	opacity: 0.5;
}

.nanogallery_theme_default .nanoGalleryContainer .container  .labelImageTitle{
	color:#eee;
	overflow:hidden;
	white-space: nowrap;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	vertical-align: middle;
	display: inline;
}
.nanogallery_theme_default .nanoGalleryContainer .container  .labelImageTitle:before{
	/*content: url(camera_icon.png);
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 2px;
	height:20px;*/

	content: '\e800';
	/*font-size:1.5em;*/
	margin-left: .2em;
	margin-right: .3em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}

.nanogallery_theme_default .nanoGalleryContainer .container  .labelFolderTitle{
	color:#eee;
	overflow:hidden;
	white-space: nowrap;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	vertical-align: middle;
	display: inline;
}
.nanogallery_theme_default .nanoGalleryContainer .container  .labelFolderTitle:before{
	/*content: url(folder_icon.png);
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 2px;
	height:20px;*/

	content: '\e80f';
	/*font-size:1.5em;*/
	margin-left: .2em;
	margin-right: .3em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}

.nanogallery_theme_default .nanoGalleryContainer .container  .labelDescription{
	clear:both;
	color:#aab;
	margin:0px 0px;
	white-space: nowrap;
	visibility:hidden;
	height:0px;
}



/**************************************/
/* INTERNAL VIEWER                    */
/**************************************/
.nanogallery_theme_default .nanoGalleryViewer {
	display:block;
	font-size:1em;
	background-color: rgba(1, 1, 1, 0.75);
	text-align: center;
}
.nanogallery_theme_default .nanoGalleryViewer .closeButtonFloating {
	cursor:pointer;
	left:0px;
	top:0px;
	position:absolute;
}
.nanogallery_theme_default .nanoGalleryViewer .closeButtonFloating:after {
	visibility:hidden;
	background: rgba(0,0,0,0.75);
	color: #fff; 
	border: 3px solid #aaa;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	cursor:pointer;

	content: '\e807';
	font-size:1.1em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;	
}

.nanogallery_theme_default .nanoGalleryViewer .content {
	display:block;
	position:relative;
	height:100%;
	padding:10px;
}
.nanogallery_theme_default .nanoGalleryViewer .content img{
	/* never define a margin here */
	background:url('loading.gif') no-repeat center;
	border:12px solid #f8f8f8;
	display:block;
	padding:0px;
	box-shadow: #888 0px 0px 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.nanogallery_theme_default .nanoGalleryViewer .content .contentAreaPrevious {
	display:block;
	position:absolute;
	height:100%;
	/*border:5px solid #0ff;*/
	width:50%;
	cursor:pointer;
}
.nanogallery_theme_default .nanoGalleryViewer .content .contentAreaNext {
	display:block;
	position:absolute;
	height:100%;
	/*border:5px solid #ff0;*/
	width:50%;
	left:50%;
	cursor:pointer;
}




.nanogallery_theme_default .nanoGalleryViewer .toolbar {
/*	//display:block;
//	display:table-row;
	//position:relative; */
	/*width:80%;*/
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	min-width:200px;
	background:#222;
	border:2px solid #111;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin: 0 0 10px 0;

}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .previousButton{
	display: table-cell;
	cursor:pointer;
	padding:10px;
	vertical-align:middle;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .previousButton:after{
	/*content:'<';*/
	content: '\e813';
	font-size:1.5em;
	margin-left: .2em;
	margin-right: .2em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .previousButton:hover:after{
	opacity: 0.3;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .nextButton{
	display: table-cell;
	cursor:pointer;
	padding:10px;
	vertical-align:middle;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .nextButton:after{
	/*content:'>';*/
	content: '\e814';
	font-size: 1.5em;
	margin-left: .2em;
	margin-right: .2em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .nextButton:hover:after{
	opacity: 0.3;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .closeButton{
	display: table-cell;
	cursor:pointer;
	padding:10px;
	vertical-align:middle;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .closeButton:after{
	/*content:'X';*/
	content: '\e807';
	font-size:1.5em;
	margin-left: .2em;
	margin-right: 1em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .closeButton:hover:after{
	opacity: 0.3;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .label{
	padding-left: 10px;
	padding-right: 20px;
	/*width:100%;*/
	min-width: 100px;
	overflow: hidden;
	display: table-cell;
	text-align: left;
	vertical-align:middle;
	font-size:1.0em;
}

.nanogallery_theme_default .nanoGalleryViewer .toolbar .label .title{
/*	//display:table-row;
	//text-align: center;*/
	font-size:1.0em;
	margin:auto;
	/*width:100%*/
	vertical-align:middle;
	overflow: hidden;
}
.nanogallery_theme_default .nanoGalleryViewer .toolbar .label .description{
	font-size:.8em;
	display:table-row;
	/*text-align: left;*/
	vertical-align:middle;
	overflow: hidden;
	color:#aaa;
}


