/* NAVIGATION BREADCRUMB */

.nanogallery_theme_light .nanoGalleryBreadcrumb {
	border: 1px dotted #f55;
	margin: 1px;
	background-color: #000;
	font-size: 14px;
}
.nanogallery_theme_light .nanoGalleryBreadcrumb .folder {
	display: inline-block;
	margin: 2px 5px;
	background-color: #000;
	color:#ddd;
	cursor:pointer;
}
.nanogallery_theme_light .nanoGalleryBreadcrumb .folder:hover{
	color: #00b200;
}

.nanogallery_theme_light .nanoGalleryBreadcrumb .separator {
	display: inline-block;
	margin: 0 2px;
	background-color: #000;
	color:#bbb;
}

/* IMAGES */

.nanogallery_theme_light .nanoGalleryContainer {
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
	}

.nanogallery_theme_light .nanoGalleryContainer .container{
	cursor:  pointer;
	border: 1px solid #000;
	margin: 1px;
	padding: 5px;
	background-color: #000;
    display: inline-block;
	transition: border-color 0.2s linear;
	-webkit-transition : border-color 0.2s linear; 
	-moz-transition : border-color 0.2s ease-out;
	-o-transition : border-color 0.2s ease-out;
}
.nanogallery_theme_light .nanoGalleryContainer .container:hover{
   border-color: #888;
   transition: border-color 0.2s;
}

.nanogallery_theme_light .nanoGalleryContainer .container .imgcont{
	border: 4px solid #000;
	position:relative;
}
.nanogallery_theme_light .nanoGalleryContainer .container img{
    vertical-align: bottom;
	display: block;
	margin: auto;
	background:url('loading.gif') no-repeat center;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
}

.nanogallery_theme_light .nanoGalleryContainer .container .labelImage{
	margin-top: 5px;
	color: #ddd;
	text-align:center;
	border-width: 0 2px;
	border-style:solid;
	border-color:#1a1a1a;
	background:#1a1a1a url('camera_icon.png') no-repeat right;
}
.nanogallery_theme_light .nanoGalleryContainer .container .labelImage:hover {
	color: #00b200;
}
.nanogallery_theme_light .nanoGalleryContainer .container .labelFolder{
	margin-top: 5px;
	color: #ddd;
	text-align:center;
	border-width: 0 2px;
	border-style:solid;
	border-color:#1a1a1a;
	background:#1a1a1a url('folder_icon.png') no-repeat right;
}
.nanogallery_theme_light .nanoGalleryContainer .container .labelFolder:hover{
	color: #00b200;
}

