/* Theme for nanoGallery - www.nanogallery.brisbois.fr */

/**************************************/
/* MAIN CONTAINER                     */
/**************************************/

.nanogallery_theme_animlight {
	font-size:1.0em;
	line-height: normal;
	margin:0px;
	padding:0px;
}

/**************************************/
/* NAVIGATION BREADCRUMB              */
/**************************************/

.nanogallery_theme_animlight .nanoGalleryBreadcrumb {
	border: 1px dotted #999;
	margin: 1px;
	background-color: #ddd;
}
.nanogallery_theme_animlight .nanoGalleryBreadcrumb .folder {
	display: inline-block;
	margin: 2px 5px;
	background-color: #ddd;
	color:#444;
	cursor:pointer;
}
.nanogallery_theme_animlight .nanoGalleryBreadcrumb .folder:hover{
	color: #000;
}

.nanogallery_theme_animlight .nanoGalleryBreadcrumb .separator {
	display: inline-block;
	margin: 0 2px;
	background-color: #ddd;
	color:#444;
}

/**************************************/
/* THUMBNAILS                         */
/**************************************/

.nanogallery_theme_animlight .nanoGalleryContainerParent {
	text-align: center;
}

.nanogallery_theme_animlight .nanoGalleryContainer {
	/*text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;*/
	text-align: left;
	width:auto;
	display: inline-block;
}

.nanogallery_theme_animlight .nanoGalleryContainer .iconInfo{
}
.nanogallery_theme_animlight .nanoGalleryContainer .iconInfo:after{
	visibility: hidden;
	content:".";
	left:8px;
	top:8px;
	position:absolute;
	background: rgba(0,0,0,0.75); 
	color: #fff; 
	border: 2px solid #aaa;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.nanogallery_theme_animlight .nanoGalleryContainer .container:hover .iconInfo:after{
	opacity: 0;
}

.nanogallery_theme_animlight .nanoGalleryContainer .container{
	cursor:  pointer;
	border: 1px solid #fff;
	margin: 1px;
	padding: 5px;
	background-color: #fff;
	transition: border-color 0.2s ease-out;
	-webkit-transition : border-color 0.2s ease-out; 
	-moz-transition : border-color 0.2s ease-out;
	-o-transition : border-color 0.2s ease-out;
	display: inline-block; 
	position: relative; 
	overflow: hidden;	
}
.nanogallery_theme_animlight .nanoGalleryContainer .container:hover{
	border-color: #888;
	transition: border-color 0.2s;
}

.nanogallery_theme_animlight .nanoGalleryContainer .container:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.nanogallery_theme_animlight .nanoGalleryContainer .container .imgContainer{
	position:relative;
}

.nanogallery_theme_animlight .nanoGalleryContainer .container img{
	background:url('loading.gif') no-repeat center;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
	display: block;
    vertical-align: bottom;
	transition: all 0.2s ease-out;
	-webkit-transition : all 0.2s ease-out; 
	-moz-transition : all 0.2s ease-out;
	-o-transition : all 0.2s ease-out;
}
.nanogallery_theme_animlight .nanoGalleryContainer .container:hover img{
   -moz-transform: scale(1.5);  
   -o-transform: scale(1.5);  
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
}


.nanogallery_theme_animlight .nanoGalleryContainer .container .labelImage{
	opacity: 1;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	text-align:left;
	padding: 5px 0 0 0;
	
	position: relative;
}
.nanogallery_theme_animlight .nanoGalleryContainer .container:hover .labelImage{
	opacity: 0.5;
}


.nanogallery_theme_animlight .nanoGalleryContainer .container  .labelImageTitle{
	color:#444;
	overflow:hidden;
	white-space: nowrap;
	vertical-align: middle;
	display: inline;
}
.nanogallery_theme_animlight .nanoGalleryContainer .container  .labelImageTitle:before{
	content: url(camera_icon.png);
	display: block;
	float: left;
	margin-right: 5px;
	height:20px;
}

.nanogallery_theme_animlight .nanoGalleryContainer .container  .labelFolderTitle{
	color:#444;
	overflow:hidden;
	white-space: nowrap;
	vertical-align: middle;
	display: inline;
}
.nanogallery_theme_animlight .nanoGalleryContainer .container  .labelFolderTitle:before{
	content: url(folder_icon.png);
	display: block;
	float: left;
	margin-right: 5px;
	height:20px;
}

.nanogallery_theme_animlight .nanoGalleryContainer .container  .labelDescription{
	clear:both;
	color:#aab;
	margin:0px 0px;
	white-space: nowrap;
	visibility:hidden;
	height:0px;
}



