/* Theme for nanoGALLERY - www.nanogallery.brisbois.fr */

/**************************************/
/* MAIN CONTAINER                     */
/**************************************/

.nanogallery_theme_clean {
	font-size:1.0em;
	line-height: normal;
	padding:0px;
	margin:0 auto;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}


/**************************************/
/* ICON FONT                          */
/**************************************/

@font-face {
font-family: 'nano_icon_font';
  src: url('./font/nano_icon_font.eot?5062612');
  src: url('./font/nano_icon_font.eot?5062612#iefix') format('embedded-opentype'),
       url('./font/nano_icon_font.woff?5062612') format('woff'),
       url('./font/nano_icon_font.ttf?5062612') format('truetype'),
       url('./font/nano_icon_font.svg?5062612#nano_icon_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
/*.icon-play:before { content: '\e815'; }
.icon-th-list:before { content: '\e805'; }
.icon-cog:before { content: '\e80e'; }
.icon-ok:before { content: '\e808'; }
.icon-cancel:before { content: '\e807'; }
.icon-ok-circled2:before { content: '\e80c'; }
.icon-cancel-circled2:before { content: '\e80b'; }
.icon-info-circled:before { content: '\e809'; }
.icon-camera-alt:before { content: '\e802'; }
.icon-resize-full:before { content: '\e811'; }
.icon-resize-small:before { content: '\e812'; }
.icon-left-open:before { content: '\e813'; }
.icon-right-open:before { content: '\e814'; }
.icon-menu:before { content: '\e80d'; }
.icon-folder-empty:before { content: '\e80f'; }
.icon-folder-open-empty:before { content: '\e810'; }
.icon-info:before { content: '\e80a'; }
.icon-picture:before { content: '\e800'; }
.icon-videocam:before { content: '\e804'; }
.icon-video:before { content: '\e801'; }
.icon-camera:before { content: '\e803'; }
.icon-shuffle:before { content: '\e816'; }
.icon-search:before { content: '\e806'; } */


/**************************************/
/* NAVIGATION BREADCRUMB              */
/**************************************/

.nanogallery_theme_clean .nanoGalleryBreadcrumb {
	background-color: #000;
	border: 1px dotted #555;
	margin: 1px;
	padding: 4px;
	text-align: left;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryBreadcrumb .folder {
	margin: 0px 5px;
	color:#ccc;
	cursor:pointer;
	vertical-align: middle;
	display: inline-block;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
}
.nanogallery_theme_clean .nanoGalleryBreadcrumb .folder:hover{
	color: #fff;
}
.nanogallery_theme_clean .nanoGalleryBreadcrumb  .folder:before{
	content: '\e80f';
	margin-left: .2em;
	margin-right: .3em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}
.nanogallery_theme_clean .nanoGalleryBreadcrumb .separator {
	display: inline;
}
.nanogallery_theme_clean .nanoGalleryBreadcrumb .separator:after {
	content:'>';
	margin: 0 2px;
	vertical-align: middle;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
}

/**************************************/
/* THUMBNAILS                         */
/**************************************/

.nanogallery_theme_clean .nanoGalleryContainerParent {
	text-align: center;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryContainer {
	text-align: left;
	width:auto;
	display: inline-block;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryContainer .iconInfo{
}
.nanogallery_theme_clean .nanoGalleryContainer .iconInfo:after{
	visibility: hidden;
	content:".";
	left:8px;
	top:8px;
	position:absolute;
	background: rgba(0,0,0,0.75); 
	color: #fff; 
	border: 2px solid #aaa;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.nanogallery_theme_clean .nanoGalleryContainer .container:hover .iconInfo:after{
	opacity: 0;
}

.nanogallery_theme_clean .nanoGalleryContainer .container{
	cursor:  pointer;
	/*border: 1px solid #000;*/
	margin: 4px;
	padding:0;
	background-color: #000;
	display: inline-block; 
	position: relative; 
	box-shadow: 1px 1px 4px #333;	
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryContainer .container .subcontainer{
}

.nanogallery_theme_clean .nanoGalleryContainer .container .imgContainer{
	position:relative;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryContainer .container img{
	background:url('loading.gif') no-repeat center;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
	display: block;
    vertical-align: bottom;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryContainer .container .labelImage{
	/*color: #ddd; */
	background:#222;
	opacity: 1;
	text-align:left;
	padding: 2px 0 0 0;
	position:absolute;
	min-height:0%;
	overflow:hidden;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryContainer .container  .labelImageTitle{
	color:#eee;
	overflow:hidden;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	vertical-align: middle;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryContainer .container  .labelImageTitle:before{
	content: '\e800';
	margin-left: .2em;
	margin-right: .3em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}

.nanogallery_theme_clean .nanoGalleryContainer .container  .labelFolderTitle{
	color:#eee;
	overflow:hidden;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	vertical-align: middle;
	display: inline;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryContainer .container  .labelFolderTitle:before{
	content: '\e80f';
	margin-left: .2em;
	margin-right: .3em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}

.nanogallery_theme_clean .nanoGalleryContainer .container  .labelDescription{
	clear:both;
	color:#aaa;
	margin:1px 2px;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}



/**************************************/
/* INTERNAL VIEWER                    */
/**************************************/
.nanogallery_theme_clean .nanoGalleryViewer {
	display:block;
	/*font-size:1em;*/
	background-color: rgba(1, 1, 1, 0.85);
	text-align: center;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .closeButtonFloating {
	visibility:hidden;
	cursor:pointer;
	right:0px;
	top:0px;
	padding: 5px 5px 25px 25px;
	position:absolute;
	opacity:1;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.nanogallery_theme_clean .nanoGalleryViewer .closeButtonFloating:after {
	color: #fff; 
	visibility:hidden;
	/*background: rgba(0,0,0,0.75);
	border: 0px solid #aaa;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;*/

	content: '\e807';
	font-size:1.5em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;	
}
.nanogallery_theme_clean .nanoGalleryViewer  .closeButtonFloating:hover {
	opacity: 0.3;
}

.nanogallery_theme_clean .nanoGalleryViewer .content {
	display:block;
	position:relative;
	height:100%;
	padding:10px;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .content img{
	/* never define a margin here */
	background:url('loading.gif') no-repeat center;
	border:4px solid #f8f8f8;
	display:block;
	padding:0px;
	cursor:pointer;
	box-shadow: #888 0px 0px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryViewer .content .contentAreaPrevious {
	display:block;
	position:absolute;
	top: 50%;
	height:20px;
	width:20px;
	padding:50px 25px 50px 0px;
	margin-top:-60px;

	cursor:pointer;

	opacity:1;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .content .contentAreaPrevious:after{
	content: '\e813';
	color: #fff; 
	font-size:1.5em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity:1;
}
.nanogallery_theme_clean .nanoGalleryViewer .content .contentAreaPrevious:hover {
	opacity: 0.3;
}

.nanogallery_theme_clean .nanoGalleryViewer .content .contentAreaNext {
	display:block;
	position:absolute;
	top: 50%;
	height:20px;
	width:20px;
	padding:50px 15px 50px 25px;
	margin-top:-60px;
	right:0px;

	cursor:pointer;
	
	opacity:1;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .content .contentAreaNext:after{
	content: '\e814';
	color: #fff; 
	font-size:1.5em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity:1;
}
.nanogallery_theme_clean .nanoGalleryViewer .content .contentAreaNext:hover {
	opacity: 0.3;
}


.nanogallery_theme_clean .nanoGalleryViewer .toolbar {
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	min-width:200px;
	background:#222;
	border:2px solid #111;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 0 2px 0;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryViewer .toolbar .previousButton{
	display: table-cell;
	cursor:pointer;
	padding:5px;
	vertical-align:middle;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryViewer .toolbar .previousButton:after{
	/*content:'<';*/
	content: '\e813';
	font-size:1.5em;
	margin-left: .2em;
	margin-right: .2em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.nanogallery_theme_clean .nanoGalleryViewer .toolbar .previousButton:hover:after{
	opacity: 0.3;
}

.nanogallery_theme_clean .nanoGalleryViewer .toolbar .nextButton{
	display: table-cell;
	cursor:pointer;
	padding:5px;
	vertical-align:middle;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .toolbar .nextButton:after{
	/*content:'>';*/
	content: '\e814';
	font-size: 1.5em;
	margin-left: .2em;
	margin-right: .2em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.nanogallery_theme_clean .nanoGalleryViewer .toolbar .nextButton:hover:after{
	opacity: 0.3;
}

.nanogallery_theme_clean .nanoGalleryViewer .toolbar .closeButton{
	display: table-cell;
	cursor:pointer;
	padding:5px;
	vertical-align:middle;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .toolbar .closeButton:after{
	/*content:'X';*/
	content: '\e807';
	font-size:1.5em;
	margin-left: .2em;
	margin-right: 1em;
	Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
	font-family: "nano_icon_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.nanogallery_theme_clean .nanoGalleryViewer .toolbar .closeButton:hover:after{
	opacity: 0.3;
}

.nanogallery_theme_clean .nanoGalleryViewer .toolbar .label{
	padding-left: 10px;
	padding-right: 20px;
	min-width: 100px;
	overflow: hidden;
	display: table-cell;
	text-align: left;
	vertical-align:middle;
	font-size:1em;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}

.nanogallery_theme_clean .nanoGalleryViewer .toolbar .label .title{
	font-size:1em;
	margin:auto;
	vertical-align:middle;
	overflow: hidden;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}
.nanogallery_theme_clean .nanoGalleryViewer .toolbar .label .description{
	font-size:.8em;
	display:table-row;
	vertical-align:middle;
	overflow: hidden;
	color:#aaa;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
}


